<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Tarea Flask</title>
    </head>
    <body>
        <h2>Sergio Ibañez Nuñez</h1>
        <h4>Paginas</h2>
        <h4>Calcular potencias</h3>
        <p>URL de ejemplo "/potencia/base/exponente"</p>
        <a href="/potencia/3/3">En este ejemplo "/potencia/3/3" se mostrara el resultado de 3 elevado a 3</a>
        
	<h4>Cuenta letras</h3>
        <p>URL de ejemplo "/cuenta/palabra/letra"</p>
        <a href="/cuenta/pagina cuenta letras/a ">En este ejemplo "/cuenta/pagina cuenta letras/a" se mostrara cuantas veces aparecera la letra a en la cadena indicada</a>

        <h4>Biblioteca</h3>
        <p>URL de ejemplo "/libro/código"</p>
	<a href="/libro/123">En este ejemplo "/libro/123" se mostrara el autor y titulo del libro 123</a>
    </body>
</html>
