<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Tarea Flask</title>
    </head>
    <body>
        <h1>Sergio Ibañez Nuñez</h1>
        <h2>Paginas</h2>
        <h3>Calcular potencias</h3>
        <p>URL de ejemplo "/potencia/base/exponente"</p>
        <a href="/potencia/3/3">Calcular 3 elevado a 3</a>
        
	<h3>Cuenta letras</h3>
        <p>URL de ejemplo "/cuenta/cadena/letra"</p>
        <a href="/cuenta/cadena/ ">Contar las "i" que hay en "interactivo"</a>

        <h3>Biblioteca</h3>
        <p>URL de ejemplo "/libro/código"</p>
	<a href="/libro/35"> Busca la informacion relacionada con el codigo 30</a>
    </body>
</html>
